
.about__title{
    margin-top: 140px;
}
.about__title-underline{
    width: 100px;
}
.about__sub-title{
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 3px;
}
.about__hr{
    border: none;
    border-top: 1px solid darkgray;
    margin-top: 20px;
    opacity: 0.5;
}
.about__main-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about__main-section-col-1{
    width: 100%;
}
.about__main-section-col-2{
    padding-left: 20px;
    width: 290px;
}
.about__main-section-header{
    font-size: 1.1rem;
    font-weight: bold;
}
.about__main-section-info-desc:not(.about__main-section-info-desc:nth-child(1)){
    margin-top: 10px;
}
.about__main-section-info-desc a{
    text-decoration: underline;
}
@media (max-width: 767px){
    .about__main-section-col-1{
        width: 100%;
    }
    .about__main-section-col-2{
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }
    .about__main-section{
        flex-wrap: wrap;
    }
}
@media (max-width: 575px){
    .about__title{
        margin-top: 120px;
    }
}

.education__title{
    margin-top: 60px;
}
.education__title-underline{
    width: 170px;
}
.general-list-item{
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
}
.general-list-item em{
    width: 280px;
    text-align: right;
}
@media (max-width: 767px){
    .general-list-item{
        justify-content: flex-start;
        flex-direction: column;
    }
    .general-list-item em{
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }
}

.experience__title{
    margin-top: 60px;
}
.experience__title-underline{
    width: 200px;
}

.skills__title{
    margin-top: 60px;
}
.skills__title-underline{
    width: 90px;
}
.skills-list-row{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.skills-list-row .skills-list-row__item:nth-child(1){
    margin-right: 20px;
}
.skills-list-row__item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.skills-list-row__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 190px;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 1rem;
    height: 50px;
    overflow: hidden;
}
.skills-list-row__name a{
    width: 100%;
    height: 100%;
}
.skills-list-row__img{
    padding: 5px 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.skills-list-row__bar-background{
    position: relative;
    width: 100%;
    background-color: darkgray;
}
.skills-list-row__percentage{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.4rem;
}
.skills-list-row__percentage-bar{
    height: 100%;
    background-color: black;
}
.skills-list-row__percentage-bar--90{
    width: 90%;
}
.skills-list-row__percentage-bar--80{
    width: 80%;
}
.skills-list-row__percentage-bar--70{
    width: 70%;
}
.skills-list-row__percentage-bar--60{
    width: 60%;
}
.skills-list-row__percentage-bar--50{
    width: 50%;
}

@media (max-width: 991px){
    .skills-list-row{
        display: block;
    }
    .skills-list-row__item{
        margin-top: 20px;
    }
}
@media (max-width: 575px){
    .skills-list-row__name{
        font-size: 0.9rem;
    }
    .skills-list-row__percentage{
        font-size: 1.2rem;
    }
}

.hobbies__title{
    margin-top: 60px;
}
.hobbies__title-underline{
    width: 120px;
}
.hobbies__list{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.hobbies__list li{
    font-size: 1.8rem;
    margin-left: 25px;
}

@media (max-width: 767px){
    .hobbies__list{
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media (max-width: 415px){
    .hobbies__list li{
        font-size: 1.4rem;
    }
}

.projects__title{
    margin-top: 60px;
}
.projects__title-underline{
    width: 150px;
    margin-bottom: 70px;
}
.projects__list{
    margin-top: 40px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.projects__list-extra-message{
    position: absolute;
    left: 0;
    top: -30px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    font-size: 1.1rem;
}
.projects__list-img{
    width: 350px;
    height: auto;
}
.projects__list-para{
    margin-left: 20px;
}
.projects__list--left .projects__list-para{
    margin-left: 0px;
}
.projects__list--left .projects__list-img{
    margin-left: 20px;
}
@media (max-width: 767px){
    .projects__list{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .projects__list-img{
        max-width: 350px;
        width: 100%;
        height: auto;
    }
    .projects__list-para{
        margin-top: 10px;
        margin-left: 0px;
    }
    .projects__list.projects__list--left{
        flex-direction: column-reverse;
    }
    .projects__list--left .projects__list-img{
        margin-left: 0px;
    }
}
@media (max-width: 575px){
    .projects__list-extra-message{
        font-size: 1rem;
        top: -29px;
    }
}

.contact__title{
    margin-top: 60px;
}
.contact__title-underline{
    width: 200px;
}
.contact__form-opening-text{
    width: 100%;
    max-width: 500px;
    margin: 20px auto 0 auto;
}
.contact__form{
    width: 100%;
    max-width: 500px;
    margin: 0px auto 0 auto;
}
.contact__form-start-and-end-date{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.contact__form-start-date{
    margin-right: 20px;
}
.contact__form-select{
    padding: 10px 20px;
    border: none;
    background-color: lightgray;
    margin-top: 20px;
}
.contact__form-select.contact__form-select--col{
    margin-top: 0px;
    width: 100%;
}
.contact__form-text{
    padding: 10px 20px;
    border: none;
    background-color: lightgray;
    margin-top: 20px;
    display: block;
    width: 100%;
}
.contact__form-text-area-label{
    margin-top: 20px;
    display: block;
}
.contact__form-text-area{
    padding: 10px 20px;
    border: none;
    background-color: lightgray;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
}
.contact__form-submit{
    margin-top: 20px;
    padding: 10px 20px;
    display: block;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.contact__form-error{
    color: red;
    margin-top: 20px;
    margin-bottom: -20px;
}
.contact__form-error.contact__form-error-duration-large{
    margin-left: 238px;
}
@media (max-width: 575px){
    .contact__form-start-and-end-date{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .contact__form-start-date{
        margin-right: 0px;
    }
    .contact__form-end-date{
        margin-top: 20px;
    }
    .contact__form-select{
        width: 100%;
        margin-top: 0px;
    }
    #contactMethodLabel{
        display: block;
        margin-top: 20px;
    }
}

.footer{
    margin-top: 60px;
    height: 95px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__chevron{
    width: 50px;
    height: 35px;
    margin: 0 10px;
    cursor: pointer;
}
.footer a{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.footer__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contact-modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 20px;
    background-color: rgba(211,211,211,0.3);
    overflow: hidden;
}

.contact-modal__main{
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 10px 20px;
    overflow: auto;
    max-height: 550px;
}

.contact-modal__exit-btn{
    position: absolute;
    right: 15px;
    top: 7px;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}

.contact-modal__title-underline{
    width: 130px;
    margin-bottom: 20px;
}
.contact-modal__row{
    margin-top: 10px;
}

.contact-modal__header{
    font-weight:bold;
    font-size: 1.2rem;
}

.contact-modal__send-btn{
    float: right;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 575px){
    .contact-modal__title{
        text-align: left;
    }
    .contact-modal__title-underline{
        margin: 0 0 0 29px;
    }
    .contact-modal__exit-btn{
        top: 5px;
        font-size: 2.5rem;
    }
}